<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de"> 
  <head> 
    <title>utopiaattraktor.org</title> 
      <script type="text/javascript" src="/jwplayer/jwplayer.js"></script>
      <script type="text/javascript" src="prototype.js"></script>
      <script type="text/javascript" src="stream.js"></script>
			<script type="text/javascript" src="interface.js"></script>
      <script type="text/javascript"> 
        /* <![CDATA[ */
        (function() {
          var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
          
          s.type = 'text/javascript';
          s.async = true;
          s.src = 'http://api.flattr.com/js/0.5.0/load.js?mode=auto&uid=benben&language=de_DE&category=video&button=compact';
          
          t.parentNode.insertBefore(s, t);
        })();
        /* ]]> */
        </script> 
      <link href="main.css" media="screen" rel="stylesheet" type="text/css" />
      <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono&subset=latin' rel='stylesheet' type='text/css'>
  </head> 
  <body>
    <div id="page">
      <img style="margin:10px;" src="head.png" alt="utopiaattraktor.org"/>
      <div id="right">
        <div style="float:left;width:160px;">
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.utopiaattraktor.org&amp;layout=button_count&amp;show_faces=true&amp;width=140&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:140px; height:21px;" allowTransparency="true"></iframe>
        </div>
        <div style="float:left;width:170px;">
          <a class="FlattrButton" href="http://www.utopiaattraktor.org/" title="UTOPIA ATTRAKTOR 2011" lang="German">
          Im Frühjahr 2011 startet UTOPIA ATTRAKTOR - ein städte- und länderübergreifendes Netzwerk- und Kommunikationsformat -
          Weimar ** Dresden ** Halle/Saale ** Leipzig -
          Mischt Euch ein! Führt Utopisches zusammen! Arbeitet gemeinsam! Vernetzt Euch!
          ** Vorkongress ** Ausstellungen ** Workshops ** SIMULATOREN Summer School ** Hauptkongress **
          Gibt es Neuigkeiten, Fantastische Ideen, Visionen und vermeintliche Utopien in unserer zunehmend
          differenzierten Welt, die es wert sind verkündet zu werden?
          Welchen Einfluss haben sich neu entfaltende Perspektiven und Zukunftsszenarien auf unser Denken heute?
          Reicht es aus den Blick nach vorn zu richten und darauf zu drängen, dass wir durch positives Denken
          neue Wege finden, um die alten Probleme zu lösen? Wir setzen es uns zum Ziel, das Zusammenspiel
          zwischen globalem Denken und lokalem Handeln neu zu denken. Wir weichen ab von der Behauptung
          Buckminster Fullers, der mit seinem Ausspruch „think global, act local“ wegweisend war,
          hin zu einer Kultur des gleichzeitigen globalen und lokalen Denkens und Handelns.
          </a>
        </div>
        <div style="float:left;width:160px;">
          <a href="http://twitter.com/share" class="twitter-share-button" data-text="Join the Utopia Attraktor NOW!" data-count="horizontal" data-via="utopiaattraktor" data-lang="de">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </div>
        <div style="padding-top: 40px;">
        <video 
        src="http://85.25.67.150:8090/test.flv"
        height="288"
        poster="stream.png"
        id="container"
        width="512"> 
        </video> 
        <script type="text/javascript"> 
          jwplayer("container").setup({
            autostart: false,
            height: 288,
            width: 512,
            image: 'http://85.25.67.150/stream.jpg',
            dock: true,
            players: [
              { type: "flash", src: "/jwplayer/player.swf" },
              { type: "html5" }
            ],
            streamer:'http://85.25.67.150:8090/test.flv'
          });
        </script>
        </div>
        <h1>1. Post here</h1>
				<div id="notice"></div>
        <form id="sender">
          <textarea id="message" name="message" style="border:1px solid white;background-color:black;width:100%;height:100px;color:#ff9900;"></textarea>
				</form>
        <a style="display: block; border: 0px none; background-color: #DDD; font-family: 'Droid Sans Mono',sans-serif; font-weight: bold; color: black; text-decoration: none; text-align: center; font-size: 14px; padding: 10px; width: 100px;" id="submit" >Senden</a>     
        <h1>2. Twitter</h1>
        <p>Twitter with #ua2011 or @utopiaattraktor</p>
        <h1>3. Facebook</h1>
        <p>Post to the Utopia Attraktor Site</p>
        <h1>Info</h1>
        <p>Im Frühjahr 2011 startet
           UTOPIA ATTRAKTOR<br/>
           ein städte- und länderübergreifendes Netzwerk- und Kommunikationsformat<br /><br />
           Weimar ** Dresden ** Halle/Saale ** Leipzig<br /><br />
          Mischt Euch ein!<br />
          Führt Utopisches zusammen!<br />
          Arbeitet gemeinsam!<br />
          Vernetzt Euch!<br /><br />
          Vorkongress ** Ausstellungen ** Workshops<br />
          SIMULATOREN Summer School ** Hauptkongress<br /><br />
          Gibt es Neuigkeiten, Fantastische Ideen, Visionen und vermeintliche Utopien
          in unserer zunehmend differenzierten Welt, die es wert sind verkündet zu werden?<br /><br />
          Welchen Einfluss haben sich neu entfaltende Perspektiven und Zukunftsszenarien
          auf unser Denken heute?<br />
          Reicht es aus den Blick nach vorn zu richten und darauf zu drängen, dass wir
          durch positives Denken neue Wege finden, um die alten Probleme zu lösen?<br />
          Wir setzen es uns zum Ziel, das Zusammenspiel zwischen globalem Denken und
          lokalem Handeln neu zu denken. Wir weichen ab von der Behauptung Buckminster
          Fullers, der mit seinem Ausspruch „think global, act local“ wegweisend war,
          hin zu einer Kultur des gleichzeitigen globalen und lokalen Denkens und Handelns.<br />
          Nicht-lineare nicht-hierarchische Ideen von Gesellschaft, kulturelle
          Strategien für soziale Integration und Partizipation.<br />
          Neben der Präsentation von Projekten und Netzwerken werden wir über technische
          Innovationen und gesellschaftliche Neuentdeckungen sprechen, Prototypen
          vorstellen und Konzepte diskutieren, die Euer persönliches Handeln
          herausfordern.<br />
          Dabei habt Ihr die Möglichkeit, euch in Form von „Anteilsscheinen“ an der
          Entwicklung und Realisierung von Produkten, Projekten oder Modellen zu
          beteiligen. Wir bieten Euch aber auch Raum für die Präsentation eigener
          Ideen und Projekte. Die Ausstellungen erweitern sich ständig und wandern
          zwischen den Partnern.<br />
          Parallel dazu bieten wir Euch die SIMULATOREN Summer School, mit
          Workshopangeboten zu konkreten Utopien und Projekten, welche besonders
          für Kinder und Jugendliche interessant sind.<br />
          Zu den thematischen Gesprächsformaten laden wir Vertreter aus Kunst,
          Wissenschaft, Stiftungen, Wirtschaft und NGOs ein. In jeder Partnerstadt
          wird das Konzept um Interessierte, Künstlern, Wissenschaftlern, Erfindern
          und NGOs aus den jeweiligen Regionen erweitert.<br />
          Wir werden viral über das Internet Informationen und „Utopien“ verbreiten
          und zur Diskussion anstiften.<br />
          Über unsere Internetplattform könnt Ihr Euch ganz offiziell über utopische
          Projekte, Konzepte und Ideen informieren und selber präsentieren.<br /><br />
          Wenn Ihr Interesse habt als Einzelperson oder Gruppe teilzunehmen, dann
          meldet Euch bitte hiermit an.<br /><br />
          www.utopiaattraktor.org<br />
          www.facebook.com/utopiaattraktor</p>
      </div>
      <div id="left">
        <div id="messages" style="border:1px dotted black;">
          <%= erb :_messages, :layout => false, :locals => {:messages => @messages} %>
        </div>
      </div>
    </div>
  </body> 
</html> 
